// Colors
$color-white: #fff;
$color-grey: #444;
$color-light-grey: #888;
$color-very-light-grey: #ececec;
$color-black: #000;
$color-red-message: #ff0101;
$color-green-message:#009414;

$color-layout-blue: #ecf1fe;
$color-main-blue: #4070f4;
$color-main-blue-dark: #2a489b;
$color-main-blue-light: #678fff;
$color-main-gold: #FFD700;
$color-main-gold-dark: #a77d01;

// Font
$font-size-xxs: 1.2rem;
$font-size-xs: 1.5rem;
$font-size-s: 1.8rem;
$font-size-s-m: 2.1rem;
$font-size-m: 2.4rem;
$font-size-l: 3rem;
$font-size-xl: 4.2rem;
$font-size-xxl: 6.4rem;
$font-size-xxxl: 8.0rem;

$main-font-Roboto: "Roboto", sans-serif;

