.contact-page {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    width: 100%;
    
    position: relative;
    z-index: 10;
    
    @media only screen and (max-width: $bp-large) {
        grid-template-columns: 1fr;
        height: fit-content;
    }

    @media only screen and (min-width: $bp-large) {
        &::before{
            content: '';
            position: absolute;
            top: -4rem;
            left: -8rem;
            right: -8rem;
            bottom: -4rem;
            background-image: url('/public/storage/photos/contact-background.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.35;
            z-index: -10;
            border-radius: 20px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;

        font-weight: 400;
        margin: 5rem 3rem 0 3rem;

        @media only screen and (max-width: $bp-small) {
            text-align: center;
            margin: 0;
            font-size: $font-size-xs;
        }
    }

    &__title {
        margin-bottom: 3rem;
        align-self: center;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}