.works {
    height: 50rem;
    display: grid;
    grid-template-rows: 5rem 7rem 1fr;
    gap: 2rem;
    
    @media only screen and (max-width: $bp-large) {
        grid-template-rows: auto 3rem 1fr;
        height: fit-content;
    }

    &__filters-container {
        display: flex;
        gap: 2rem;    
        justify-self: center;
        font-size: $font-size-xxs;
        
        @media only screen and (max-width: $bp-smallest) {
            gap: 0.8rem;    
        }
    }

    &__works-container {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        overflow: auto;
        
        @media only screen and (max-width: $bp-large) {
            grid-auto-rows: 20rem;
            grid-template-columns: repeat(2, 50%);
        }

        @media only screen and (max-width: $bp-small) {
            grid-auto-rows: 15rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            grid-template-columns: repeat(1, 100%);
        }
    }

    &__work {
        position: relative;
        display: flex;
        margin: 1rem;
        height: 15rem;
        
        cursor: pointer;
        
        transition: all .3s ease;
        
        @media only screen and (max-width: $bp-large) {
            height: auto;
        }
        
        img {
            position: absolute;
            top: 0;
            
            width: 100%;
            height: 100%;
            
            border-radius: 10px;
            object-fit: cover;
        }

        &:hover {
            transform: scale(1.05);
            
            a {
                opacity: 1;
            }
        }
    }
    
    &__work-title {
        display: flex;
        position: relative;
        
        width: 100%;
        padding: 0 1rem;
        z-index: 10;
        
        align-items: center;
        justify-content: center;
        text-align: center;

        font-size: $font-size-xs;
        color: $color-white;
        background-color: rgba($color: #000, $alpha: 0.7);
        border-radius: 10px;
    }

    &__show-details {
        display: flex;
        justify-content: center;
        align-items: center;

        opacity: 0;

        position: absolute;
        bottom: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
        
        z-index: 10;
        padding: 0.5rem 0;
        width: 60%;

        font-size: $font-size-xs;

        transition: all 0.3s ease;
    }
}