.footer {
    display: flex;
    align-items: center;
    justify-content: end;
    
    padding: 0 8rem;
    // border-top: 1px solid rgba($color: $color-black, $alpha: 0.2);

    &__links {
        display: flex;
        gap: 4rem;
        font-size: $font-size-xl;
    }
    
    &__link {
        padding: 0.5rem 1rem;
    }
}