.header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 8rem;
    
    font-weight: 500;
    font-size: $font-size-s-m;
    
    border-bottom: 1px solid rgba($color: $color-black, $alpha: 0.2);

    &--scrolled {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    @media only screen and (max-width: $bp-large) {
        padding: 2rem;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: $color-white;
    }

    @media only screen and (max-width: $bp-medium) {
        padding: 1rem;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: $font-size-s;
    }

    @media only screen and (max-width: $bp-smallest) {
        font-size: $font-size-xs;
    }

    &__links {
        color: $color-light-grey;
        display: flex;
        gap: 2rem;
        
        @media only screen and (max-width: $bp-largest) {
            gap: 0rem;
        }

        @media only screen and (max-width: $bp-large) {
            justify-content: space-evenly;
            width: 100%;
        }
    }

    &__link {
        padding: 0.5rem 1rem;
        
        @media only screen and (max-width: $bp-smallest) {
            padding: .5rem;
        }
    }
}