@import 'header';
@import 'footer';

.mobile-layout {
    position: relative;

    &__container {
        display: flex;
        background-color: $color-layout-blue;
        justify-content: center;
    }
    
    &__content {
        position: relative;
        display: grid;
        
        width: 100%;

        font-size: $font-size-s;
        background-color: $color-white;
        
        box-shadow: 0 0 25px rgba(0, 0, 0, .3);
        
        @media only screen and (max-width: $bp-medium) {
            width: 100%;
            margin: 0;
            border-radius: 0;
            box-shadow: none;
        }
    }

    &__section {
        padding: 8rem 5rem;
        
        @media only screen and (max-width: $bp-medium) {
            padding: 6rem 3rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            padding: 4.5rem 2rem;
        }

        &--2 {
            background-color: $color-very-light-grey;
            clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);

            @media only screen and (max-width: $bp-smallest) {
                clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
            }    
        }
        
        &--last {
            background-color: $color-very-light-grey;
            clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 100%);

            @media only screen and (max-width: $bp-smallest) {
                clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
            }  
        }
    }

    &__scroll-up-btn{
        position: fixed;
        bottom: 2rem;
        right: 2rem;

        z-index: 100;
        width: 5rem;
        height: 5rem;

        font-size: $font-size-m;
        color: $color-white;
        background-color: $color-grey;
        border: none;
        border-radius: 50%;

        cursor: pointer;
        display: none;
    }
}