.main-title {
    position: relative;
    justify-self: center;
    text-transform: uppercase;
    font-size: $font-size-xl;
    width: fit-content;

    @media only screen and (max-width: $bp-medium) {
        font-size: $font-size-l;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: $font-size-m;
    }

    &::before {
        content: '';
        position: absolute;
        
        width: 40%;
        height: 2px;
        bottom: 0;
        left: 50%;
        
        background-color: $color-main-blue;
        
        transform: translateX(-50%);
    }
}