*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px 10/16=65.5%
}

body {
    font-family: $main-font-Roboto;
    font-weight: 300
}

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;  // 1200px
$bp-large: 56.25em;  // 900px
$bp-medium: 50em;   // 800px
$bp-medium-small: 43.75em;   // 700px
$bp-small: 37.5em;  // 600px
$bp-smallest: 28.125em;  // 450px